.pesquisa{
    text-align:end;
    flex-grow: 0.45;
}

.pesquisa select{
    margin: 3px;
    border-radius: 10px;
    height: 30px;
    width: 15%;
    text-align: center;
    border: 2px solid black;
}

.pesquisa select:focus {
    border-color: #0056b3;
  }


.divPesquisa {
    display: flex;
    align-items: center; 
    height: 10%;
    width: 100%;
}

.divPesquisa button{
    border-radius: 10px;
    height: 30px;
    width: 150px;
}

.divPesquisa button:hover{
    background-color: rgb(185, 180, 180);
}