.tabelaTarefas {
    border-collapse: collapse;
    width: 100%;
}

.tabelaTarefas td, .tabelaTarefas th{
    text-align: center;
    width: 5%;
}

.tabelaTarefas th{
    background-color: rgb(191, 191, 248);
    height: 30px;
}

.tabelaTarefas tr:nth-child(even){
    background-color: rgb(228, 226, 230);
}

.tabelaTarefas button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.finalizar{
    background-color: rgb(125, 247, 125);
}

.reabrir{
    background-color: rgb(247, 83, 83);
}

.tabelaTarefas td:last-child {
    text-align: left; 
}


